GAN/dataset
GAN/logs
DCGAN/dataset
DCGAN/logs
DCGAN/__pycache__
.DS_Store
pix2pix/data/maps
pix2pix/__pycache__

pix2pix/disc.pth.tar
pix2pix/gen.pth.tar
CycleGAN/data
CycleGAN/__pycache__
CycleGAN/saved_images

ProGAN/celeba_hq